<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Свернуть навигацию</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}">Quest Studio</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li class="{{activeRouteClass 'home' 'newQuests'}}">
          <a href="{{pathFor 'newQuests'}}">Новые</a>
        </li>
        <li class="{{activeRouteClass  'bestQuests'}}">
          <a href="{{pathFor 'bestQuests'}}">Лучшие</a>
        </li>
        {{#if currentUser}}
          <li class="{{activeRouteClass 'questSubmit'}}">
            <a href="{{pathFor 'questSubmit'}}">Добавить квест</a>
          </li>
          <li class="dropdown">
            {{> notifications}}
          </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>